<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Verify OTP Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 mt-5 p-5" id="shadow"
					style="background-color: white">
					<!-- form -->
					<div class="alert alert-success text-center" role="alert">We
						have sent OTP to your Email</div>


					<!--message box -->
					<div th:if="${session.message}" class="container">

						<div class="alert alert-danger text-center" role="alert">
							<span th:text="${session.message}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>


					<form th:action="@{/verifyOTP}" method="post">
						<div class="form-group">
							<input name="otp" required type="text"
								placeholder="Enter OTP here" class="form-control">
						</div>

						<div class="container text-center">
							<button type="submit" class="btn btn-success">Verify</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>